@model UploadAndDisplayImageInMvc.Models.Problem

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br /><br /><br />
<div class="ui">
    <img src="~/img/error.jpg"/>
    <h2>حذف</h2>
    <h3>ایا از حذف اطمینان دارید ؟</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" style="background-color:red; border-color:red; font-size:26px; color:white; border-radius:10px; width:60%;" /><br />
            <button style="background-color:green; border-color:green; font-size:26px; border-radius:10px; width:60%;"><a href="~/Problems/Index" style="color:white; text-decoration:none;">لغو</a></button>
        </div>
    }
</div>
<style>
    body {
        text-align: center;
        background-image: url(../../img/color.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .ui {
        border-style: solid;
        border-color: orange;
        background-color: orange;
        border-radius: 20px;
        width: 60%;
        height: 80%;
        margin-left: 20%
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }
    .ui img{
        width:100px;
        height:100px;
    }
</style>