
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/About.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="~/img/logo-color.png">
    <title>درباره ما</title>
</head>
<body>
    <ul class="nav navbar-nav">
        <li><a href="~/Content/Place" style="color:white;">مکان های دیدنی</a></li>
        <li><a href="~/Login/Index" style="color:white;">پنل مدیریت</a></li>
        <li><a href="~/Home/About" style="color:white;">درباره ما</a></li>
        <li><a href="~/Home/game" style="color:white;">سرگرمی</a></li>
        <li><a href="~/Problems/Create" style="color:white;">راه ارتباطی</a></li>
    </ul>
    <br />
    <div class="im">
        <img src="~/img/logo-color.png">
        <img src="~/img/Mohammad.png"><br /><br /><br />
        <div class="sign">
            <span class="fast-flicker">دی</span>داو<span class="flicker">محمد<span>
        </div><br /><br />
        <p><b>من محمد داودی هستم یک طراح سایت و یک بازی ساز و یک مدل ساز</b></p>
        <h3><b>مسلط به :</b></h3>
        <pre style="font-size:110%; font-family:Algerian;">
C#
C++
Html
Css
Asp.net core mvc
Blender (Animation and Model)
</pre>
        </b>
    </div>
    <style>
        body {
            background-image: url('../../img/backg.gif');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .im {
            border: 1px solid blue;
            text-align: center;
            border-radius: 10px;
            padding: 6px;
            margin: 6px;
            box-shadow: 0 4px 8px 0 blue, 0 6px 20px 0 blue;
            color: white;
        }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: right;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: none;
    }

        li a:hover {
            background-color: powderblue;
            font-size: 160%;
            transition: 1.6s;
            color: white;
        }
    </style>
</body>
</html>
